matplotlib==3.6.0
numpy==1.23.1
pandas==1.4.4
plotly==5.10.0
plotly_express==0.4.1
snowflake==0.0.3
streamlit==1.11.0
streamlit_option_menu==0.3.2
snowflake-connector-python==3.2.0
snowflake_snowpark_python==1.5.1
